@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Crocante";
    src: url("../fonts/Crocante-Regular.ttf") format("truetype"),
      url("../fonts/Crocante-Regular.woff") format("woff"),
      url("../fonts/Crocante-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Black.ttf") format("truetype"),
      url("../fonts/Avenir-Black.woff") format("woff"),
      url("../fonts/Avenir-Black.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Book.ttf") format("truetype"),
      url("../fonts/Avenir-Book.woff") format("woff"),
      url("../fonts/Avenir-Book.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Light.ttf") format("truetype"),
      url("../fonts/Avenir-Light.woff") format("woff"),
      url("../fonts/Avenir-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon-Medium.ttf") format("truetype"),
      url("../fonts/Brandon-Medium.woff") format("woff"),
      url("../fonts/Brandon-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon-Regular.ttf") format("truetype"),
      url("../fonts/Brandon-Regular.woff") format("woff"),
      url("../fonts/Brandon-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.ttf") format("truetype"),
      url("../fonts/CircularStd-Bold.woff") format("woff"),
      url("../fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Medium.ttf") format("truetype"),
      url("../fonts/CircularStd-Medium.woff") format("woff"),
      url("../fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.ttf") format("truetype"),
      url("../fonts/CircularStd-Book.woff") format("woff"),
      url("../fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-avenir font-normal text-[20px] leading-tight bg-custom-white text-custom-black-500;
  }

  h1,
  h2 {
    @apply font-crocante leading-none;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-circularStd font-normal leading-tight;
  }

  a {
    @apply inline-block font-brandon font-medium;
  }

  img,
  svg {
    @apply w-full h-full object-contain;
  }

  label {
    @apply block;
  }

  input {
    @apply w-full h-full;
  }
}

@layer components {
  .font--120 {
    @apply text-[120px];
  }

  .font--90 {
    @apply text-[90px];
  }

  .font--60 {
    @apply text-[60px];
  }

  .font--30 {
    @apply text-[30px];
  }

  .font--25 {
    @apply text-[25px];
  }

  .font--20 {
    @apply text-[20px];
  }

  .font--15 {
    @apply text-[15px] leading-normal;
  }

  .font--10 {
    @apply text-[10px];
  }

  .wrapper {
    @apply 2xl:max-w-[1395px] w-full mx-auto xl:px-[60px] 2xl:px-0;
  }

  .custom__btn {
    @apply bg-custom-yellow text-custom-black text-xl leading-none font-bold font-circularStd flex items-center justify-center gap-[14px] w-fit min-w-[245px] h-[68px] rounded-lg transition-all duration-300 ease-in-out hover:bg-custom-yellow/90;
  }

  .custom__btn--red {
    @apply text-[30px] h-[83px] text-custom-white;
  }

  .custom__btn--cart-amazon {
    @apply bg-custom-black-800 w-full text-custom-white uppercase  hover:bg-custom-black;
  }

  .nav__link {
    @apply text-[25px] font-circularStd font-normal text-custom-black py-[18px] px-[25px] rounded-lg;
  }

  .nav__link--active {
    @apply bg-custom-white font-bold;
  }

  .input__style {
    @apply w-full h-[83px] py-[26px] px-5 rounded-[10px] bg-custom-white text-[30px] leading-none font-normal font-brandon text-custom-black placeholder:text-custom-gray-800/80 focus:ring-0;
  }

  .input__style--secondary {
    @apply border-none;
  }

  .footer__link {
    @apply text-[20px] leading-none font-circularStd font-normal text-custom-black-100;
  }
}

/* Custom CSS */
.custom__shadow--md {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.custom__shadow--xl {
  box-shadow: 0px 4px 16.6px rgba(0, 0, 0, 0.25);
}

.custom__shadow--2xl {
  box-shadow: 0px 12px 29.6px 0 rgba(0, 0, 0, 0.25);
}

.custom__text-gradient {
  background: linear-gradient(to left, #4009f5 -6%, #ff4a4a 11%, #f59309 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__gradient-bg {
  background: linear-gradient(
    to bottom left,
    #ff7f41 0%,
    #ff5951 50%,
    #ff4c9d 100%
  );
}

.custom__btn--red {
  background: linear-gradient(
    -71deg,
    rgba(255, 127, 65, 1) 0%,
    rgba(255, 75, 135, 1) 100%
  );
}

.custom__btn--red:hover {
  background: linear-gradient(
    -71deg,
    rgba(255, 127, 65, 1) 0%,
    rgba(255, 75, 135, 1) 100%
  );
}

.custom-checkbox:checked + label .custom-checkbox-icon {
  background-image: url("../images/checks.png");
  background-size: 24px;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
}

.social__icon svg path {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.social__icon svg:hover path {
  fill: #ff4e83;
}

.blur__gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
}

.banner__gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(237, 236, 232, 0.5) 0%,
    rgba(255, 255, 255, 0) 20%
  );
}

.blur__gradient--slide {
  opacity: 1;
  transition: opacity 0.3s ease; /* Adjust duration and easing as needed */
}

.blur__gradient--slide.hide {
  opacity: 0;
  pointer-events: none;
}

.blue__gradient1 {
  background: linear-gradient(
    90deg,
    rgba(65, 255, 113, 0.2) 10%,
    rgba(53, 127, 255, 1) 100%
  );
}

.blue__gradient {
  background: linear-gradient(
    110deg,
    rgba(65, 255, 113, 0.2189250700280112) 10%,
    rgba(53, 127, 255, 1) 108%
  );
}

/* Custom CSS */

.custom__scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.custom__scrollbar::-webkit-scrollbar {
  height: 9px;
  background-color: #f5f5f5;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffd270;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
