@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Crocante";
    src: url("../fonts/Crocante-Regular.ttf") format("truetype"),
      url("../fonts/Crocante-Regular.woff") format("woff"),
      url("../fonts/Crocante-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Black.ttf") format("truetype"),
      url("../fonts/Avenir-Black.woff") format("woff"),
      url("../fonts/Avenir-Black.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Book.ttf") format("truetype"),
      url("../fonts/Avenir-Book.woff") format("woff"),
      url("../fonts/Avenir-Book.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Light.ttf") format("truetype"),
      url("../fonts/Avenir-Light.woff") format("woff"),
      url("../fonts/Avenir-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon-Medium.ttf") format("truetype"),
      url("../fonts/Brandon-Medium.woff") format("woff"),
      url("../fonts/Brandon-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon-Regular.ttf") format("truetype"),
      url("../fonts/Brandon-Regular.woff") format("woff"),
      url("../fonts/Brandon-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.ttf") format("truetype"),
      url("../fonts/CircularStd-Bold.woff") format("woff"),
      url("../fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Medium.ttf") format("truetype"),
      url("../fonts/CircularStd-Medium.woff") format("woff"),
      url("../fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.ttf") format("truetype"),
      url("../fonts/CircularStd-Book.woff") format("woff"),
      url("../fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-avenir font-normal text-[15px] md:text-[20px] leading-tight bg-custom-white text-custom-black-500;
  }

  h1,
  h2 {
    @apply font-crocante leading-none;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-circularStd font-normal leading-[1.1] text-custom-black-200;
  }

  a {
    @apply inline-block font-brandon font-medium;
  }

  img,
  svg {
    @apply w-full h-full object-contain;
  }

  label {
    @apply block;
  }

  input {
    @apply w-full h-full;
  }
}

@layer components {
  .font--150 {
    @apply text-[90px] 2xl:text-[150px];
  }

  .font--128 {
    @apply text-[90px] 2xl:text-[128px];
  }

  .font--120 {
    @apply text-[50px] md:text-[76px] 2xl:text-[90px];
  }

  .font--90 {
    @apply text-[40px] md:text-[60px] 2xl:text-[90px];
  }

  .font--60 {
    @apply text-[28px] md:text-[50px] 2xl:text-[60px];
  }

  .font--45 {
    @apply text-[40px] 2xl:text-[45px];
  }

  .font--30 {
    @apply text-[18px] md:text-[26px] 2xl:text-[30px];
  }

  .font--25 {
    @apply text-[15px] md:text-[20px] 2xl:text-[25px];
  }

  .font--20 {
    @apply text-[12px] md:text-[18px] 2xl:text-[20px];
  }

  .font--15 {
    @apply text-[15px] leading-normal;
  }

  .font--10 {
    @apply text-[10px];
  }

  .wrapper {
    @apply 2xl:max-w-[1395px] w-full mx-auto px-[37px] md:px-[60px] 2xl:px-0;
  }

  .custom__btn {
    @apply bg-custom-yellow text-custom-black text-[15px] md:text-xl leading-none font-bold font-circularStd flex items-center justify-center gap-[14px] w-full md:w-fit md:min-w-[245px] h-[57px] md:h-[68px] rounded-lg transition-all duration-300 ease-in-out hover:bg-custom-yellow/90;
  }

  .custom__btn--red {
    @apply text-[15px] md:text-[24px] 2xl:text-[30px] h-[57px] md:h-[74px] 2xl:h-[83px] text-custom-white;
  }

  .custom__btn--black {
    @apply bg-custom-black-800 w-full text-custom-white uppercase  hover:bg-custom-black text-[15px] lg:text-xl h-[57px] lg:h-[68px];
  }

  .custom__btn--outline {
    @apply bg-custom-white text-custom-black-800 border-[3px] border-custom-black-800 capitalize gap-[5px] hover:bg-custom-white;
  }

  .custom__btn--lg {
    @apply h-[68px] md:h-[78px];
  }

  .nav__link {
    @apply text-[15px] md:text-[20px] 2xl:text-[25px] font-circularStd font-bold xl:font-normal text-custom-black py-[23px] xl:py-[18px] px-[25px] rounded-lg bg-custom-gray-50 xl:bg-transparent block w-full text-center xl:w-auto;
  }

  .nav__link--active {
    @apply xl:bg-custom-white font-bold;
  }

  .label__style {
    @apply text-[15px] md:text-xl leading-none font-medium font-circularStd text-custom-black-200 mb-[10px];
  }

  .input__style {
    @apply w-full h-12 md:h-[83px] p-4 md:py-[26px] md:px-5 rounded-[10px] bg-custom-white text-[15px] md:text-[28px] 2xl:text-[30px] leading-none font-normal font-brandon text-custom-black block placeholder:text-custom-gray-800/80 focus:ring-0 border border-custom-black focus:border-custom-black;
  }

  .input__style--secondary {
    @apply border-none;
  }

  .input__style--textarea {
    @apply min-h-[158px] md:min-h-[203px] resize-none;
  }

  .footer__link {
    @apply text-[15px] md:text-[20px] leading-none font-circularStd font-normal text-custom-black-100;
  }

  .custom__pagination-number {
    @apply w-[41px] h-[41px] text-xl leading-none font-circularStd font-medium text-custom-gray-900 border border-custom-black rounded-full;
  }

  .custom__pagination-number--active {
    @apply bg-custom-gray-900 border-custom-gray-900 text-custom-white;
  }
}

.submenu__category--show .submenu__category {
  opacity: 1 !important;
  visibility: visible !important;
}

.submenu__category--show .nav__link--category {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Custom CSS */
.custom__shadow--md {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.custom__shadow--xl {
  box-shadow: 0px 4px 16.6px rgba(0, 0, 0, 0.25);
}

.custom__shadow--2xl {
  box-shadow: 0px 12px 29.6px 0 rgba(0, 0, 0, 0.25);
}

.custom__shadow--navbar {
  box-shadow: 0px 12px 47px 0 rgba(0, 0, 0, 0.25);
}

.custom__shadow--why-choose {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom__inner-shadow--sm {
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.custom__text-gradient {
  background: linear-gradient(to left, #4009f5 -6%, #ff4a4a 11%, #f59309 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__text-gradient--red {
  background: linear-gradient(to right, #ff4141 0%, #ff7f41 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__gradient-bg {
  background: linear-gradient(
    to bottom left,
    #ff7f41 0%,
    #ff5951 50%,
    #ff4c9d 100%
  );
}

.custom__btn--red {
  background: linear-gradient(
    -71deg,
    rgba(255, 127, 65, 1) 0%,
    rgba(255, 75, 135, 1) 100%
  );
}

.custom__btn--red:hover {
  background: linear-gradient(
    -71deg,
    rgba(255, 127, 65, 1) 0%,
    rgba(255, 75, 135, 1) 100%
  );
}

.custom-checkbox:checked + label .custom-checkbox-icon {
  background-image: url("../images/checks.png");
  background-size: 24px;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
}

.social__icon svg path {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.social__icon svg:hover path {
  fill: #ff4e83;
}

.blur__gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
}

.blur__gradient-gray {
  background: linear-gradient(
    90deg,
    rgba(230, 230, 228, 0.1) 0%,
    rgba(237, 236, 234, 1) 75%
  );
}

.yellow__gradient {
  background: linear-gradient(
    130deg,
    rgba(84, 90, 255, 1) 0%,
    rgba(255, 210, 112, 1) 100%
  );
}

.banner__gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(237, 236, 232, 0.5) 0%,
    rgba(255, 255, 255, 0) 20%
  );
}

.custom__blur {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.custom__blur.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.blue__gradient1 {
  background: linear-gradient(
    90deg,
    rgba(65, 255, 113, 0.2) 10%,
    rgba(53, 127, 255, 1) 100%
  );
}

.blue__gradient {
  background: linear-gradient(
    110deg,
    rgba(65, 255, 113, 0.2189250700280112) 10%,
    rgba(53, 127, 255, 1) 108%
  );
}

.custom__breadcrumb-item {
  position: relative;
}

.custom__breadcrumb-item::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: -30px;
  font-family: "CircularStd";
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: #323232;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.custom__breadcrumb-item--active::after {
  display: none;
}

.custom__pagination-nav svg,
.swiper-button-disabled svg {
  width: 17px;
  height: auto;
  object-fit: contain;
}

.swiper__default-slider .custom__pagination-nav img,
.swiper__default-slider .swiper-button-disabled img {
  width: 45px;
  height: auto;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.slider__nav--default .custom__pagination-nav svg,
.slider__nav--default .swiper-button-disabled svg {
  width: 31px;
}

.swiper__default-slider .swiper-button-disabled img {
  opacity: 0.5;
}

.custom__pagination-nav--disable svg path,
.swiper-button-disabled svg path,
.swiper-button-disabled svg circle {
  fill: #cfcfcf;
}

.slider__nav--default .swiper-button-disabled svg circle {
  fill: #d0d0d0;
}

.slider__nav--default .swiper-button-disabled svg path {
  fill: #edece8;
}

.custom-dashed-border {
  background-image: repeating-linear-gradient(
      187deg,
      #000000,
      #000000 30px,
      transparent 30px,
      transparent 60px,
      #000000 60px
    ),
    repeating-linear-gradient(
      277deg,
      #000000,
      #000000 30px,
      transparent 30px,
      transparent 60px,
      #000000 60px
    ),
    repeating-linear-gradient(
      7deg,
      #000000,
      #000000 30px,
      transparent 30px,
      transparent 60px,
      #000000 60px
    ),
    repeating-linear-gradient(
      97deg,
      #000000,
      #000000 30px,
      transparent 30px,
      transparent 60px,
      #000000 60px
    );
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

/* Custom Scrollbar */
.custom__scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.custom__scrollbar::-webkit-scrollbar {
  height: 9px;
  background-color: #f5f5f5;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffd270;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/* Custom Scrollbar */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 41px;
  height: 41px;
  text-align: center;
  font-family: "CircularStd";
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #5d5d5d;
  opacity: 1;
  background: transparent;
  border: 1px solid #000000 !important;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #5d5d5d;
  border: 1px solid #5d5d5d !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none !important;
}

.slider__nav--default .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.slider__nav--default .swiper-pagination-bullet span {
  opacity: 0;
  display: block;
  width: 12px;
  height: 12px;
  background: #424242;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.slider__nav--default .swiper-pagination-bullet-active span {
  opacity: 1;
}

/* Navbar Toggler */
.toggle-bar {
  margin-bottom: 2px;
  display: block;
  height: 3px;
  width: 22px;
  --tw-bg-opacity: 1;
  background-color: #2f2f2f;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  border-radius: 1.5px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  -ms-border-radius: 1.5px;
  -o-border-radius: 1.5px;
}

.toggle-bar:last-of-type {
  margin-bottom: 0;
}

.navbar__toggler.change .bar1 {
  transform: rotate(-40deg) translate(-2px, 3px);
  -webkit-transform: rotate(-40deg) translate(-2px, 3px);
  -moz-transform: rotate(-40deg) translate(-2px, 3px);
  -ms-transform: rotate(-40deg) translate(-2px, 3px);
  -o-transform: rotate(-40deg) translate(-2px, 3px);
}

.navbar__toggler.change .bar2 {
  opacity: 0;
}

.navbar__toggler.change .bar3 {
  transform: rotate(40deg) translate(-1px, -1px);
  -webkit-transform: rotate(40deg) translate(-1px, -1px);
  -moz-transform: rotate(40deg) translate(-1px, -1px);
  -ms-transform: rotate(40deg) translate(-1px, -1px);
  -o-transform: rotate(40deg) translate(-1px, -1px);
}

.header__mobile.show {
  background: #fff;
  height: 100vh;
}

.mobile__nav-content {
  display: none;
}

.header__mobile.show .mobile__nav-content {
  display: block;
}

/* Navbar Togglerr */

/* Custom CSS */

/* Responsive Design */

@media (max-width: 1280.98px) {
  .nav__link--active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 767.98px) {
  .slider__nav--default .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .slider__nav--default .swiper-pagination-bullet span {
    width: 8px;
    height: 8px;
  }

  .swiper__default-slider .custom__pagination-nav img,
  .swiper__default-slider .swiper-button-disabled img {
    width: 30px;
    height: 30px;
  }
}

/* Responsive Design */
